* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
}

/********************** CONFIRMATION BANNER ************************/

.confirm-banner {
  display: flex;
  flex-direction: row;
  background-color: #ddfbdd;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 8px 10px;
}

.confirm-banner div {
  display: flex;
}
.confirm-banner i {
  cursor: pointer;
}

.confirm-text,
#user-Name {
  color: green;
  font-size: 14px;
}

.confirm-text {
  padding-left: 10px;
}

i {
  color: green;
}

/********************** CONTACT FORM ************************/

.contact-form {
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 25%),
    0 3px 1px -2px rgb(0 0 0 / 20%);
  border-radius: 3px;
  width: 600px;
  justify-content: space-evenly;
  padding: 20px 0;
}

.first-name,
.last-name,
textarea {
  width: 100%;
  resize: none;
  border: 1px solid #ced4da;
  border-radius: 3px;
  padding: 3px;
  outline: none;
}

.name input:hover,
textarea:hover {
  background-color: rgb(248, 245, 245);
}

.name {
  padding-bottom: 15px;
}

label {
  font-size: 12px;
}

.gender {
  padding-left: 60px;
}

.textarea-div {
  padding: 10px 0 10px 0;
}

.btn {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: rgb(64, 128, 168);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.img {
  background-image: url("blank-profile-picture.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 200px;
}

/********************** VALIDATE FORM ************************/
.error {
  border: 2px solid red;
  color: red;
}
